 
.footer {
    background-color: #ebfcfc;
    text-align: center; 
    margin-top: 20%;
      position: fixed; 
      bottom: 0;
    width: 100%;
    background-color: #e8f1f4;
    height: 20px;
    
    p {
        margin: 0;
        color: #666;
        font-size: 14px;
    }
}